if warn
    .container
        .alert.alert-warning.alert-dismissable(role="alert")
            button.close(type="button",data-dismiss="alert")
                span(aria-hidden="true") &times;
                span.sr-only close
            strong
            |#{warn}
.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href="/") twMovie
        if user
            p.navbar-text.navbar-right
                if user.role<11
                    span 欢迎您: #{user.name} 
                else
                    span 管理员：
                    a(href="/admin/movie/list") #{user.name} 
                span &nbsp;|&nbsp;
                a.navbar-link(href="/logout?return_url=#{path}") 登出
        else
            p.navbar-text.navbar-right
                a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册 
                span &nbsp;|&nbsp;
                a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
        form.navbar-form.pull-right(action="/results",method="GET")
            .input-group
                input.form-control(type="text",name="q")
                span.input-group-btn
                    button.btn.btn-default(type="submit") 搜索

#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signup")
                .modal-header 注册
                .modal-body  
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]",type="password")
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit" ) 提交

#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signin")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="signinName") 用户名
                        input#signinName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signinPassword.form-control(name="user[password]",type="password")
                        input(type="hidden",value="#{path}",name="return_url")
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit" ) 提交
