.col-md-2.col-sm-3.sidebar
    ul.nav.nav-sidebar
        li.panel-title
            a(href="#")
                h3 后台管理
        li(class=path=='/admin/movie/list'?'active':undefined)
            a(href="/admin/movie/list") 电影列表
        li(class=path=='/admin/movie/new'?'active':undefined)
            a(href="/admin/movie/new") 电影录入
        li(class=path=='/admin/category/list'?'active':undefined)
            a(href="/admin/category/list") 类别列表
        li(class=path=='/admin/category/new'?'active':undefined)
            a(href="/admin/category/new") 类别录入
        li(class=path=='/admin/user/list'?'active':undefined)
            a(href="/admin/user/list") 用户列表