extends ../layout
block content
    .container
        .row
            .col-md-7
                input(type="hidden",id="movieFlash",value="#{movie.flash}")
                a#player(href="#{movie.flash}",style="display:block;width:720px;height:430px;margin-bottom:20px;")
                form(method="POST",action="/user/comment")
                    input(type="hidden" name="comment[movie]" value="#{movie._id}")
                    input(type="hidden" name="comment[from]" value="#{user._id}")
                    .form-group
                        textarea.form-control(name="comment[content]",row="3")
                    button.btn.btn-primary(type="submit") 提交
            .col-md-5
                dl.dl-horizontal
                    dt 电影名字
                    dd=movie.title
                    dt 导演
                    dd=movie.doctor
                    dt 国家
                    dd=movie.country
                    dt 语言
                    dd=movie.language
                    dt 上映年份
                    dd=movie.year
                    dt 简介
                    dd=movie.summary

    script(src="/player/flowplayer-3.2.6.min.js",type="text/javascript")
    script(type="text/javascript") flowplayer("player", "/player/flowplayer-3.2.7.swf");
