extends ../layout

block content
    .container
        .row
            each cat in categories
                .pannel.panel-primary
                    .pannel-heading
                        h3 #{cat.name}
                    .panel-body
                        if cat.movies && cat.movies.length > 0
                            each item in movies
                                .col-md-2.text-center
                                    .thumbnail
                                        a(href="/movie/#{item._id}")
                                            img(src="#{item.poster}",alt="#{item.title}")
                                        .copation
                                            h3 #{item.title}
                                            p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片
